<%= render '/layouts/header' %>
<% provide(:title, "Edit user") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
      <p>
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :phone %>
        <%= f.text_field :phone, class: 'form-control' %>

        <% if current_user?(@user) %>
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>

          <%= f.label :password_confirmation, "Confirmation" %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        <% end %>
      </p>

      <p>
        <%= f.label :realtor, "Realtor" %>
        <%= f.check_box :realtor, class: 'form-control' %>
        <div id="realtor_attr" style="display:none;">
          <p>Additional attribute:</p>
          <%= f.label :company_id,"Choose an existing company"%>
          <%= f.select :company_id, Company.all.collect{ |c| [ c.name, c.id] },:include_blank => true %>
        </div>
        <p>Or</p>
        <p><%= link_to "New a company", new_company_path(user_id:@current_user.id) %></p>
      </p>

      <p>
        <%= f.label :hunter, "House Hunter" %>
        <%= f.check_box :hunter, class: 'form-control' %>
        <div id="hunter_attr" style="display:none;">
          <p>Additional attribute:</p>
          <%= f.label :method, "Preferred contact method:" %>
          <%= f.radio_button :method, 'email' %>
          <%= f.label :method_email, 'email' %>
          <%= f.radio_button :method, 'phone' %>
          <%= f.label :method_phone, 'phone' %>
          <%= f.radio_button :method, 'text' %>
          <%= f.label :method_text, 'text' %>
        </div>
      </p>
      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

    <script type="text/javascript">
        var checkbox1 = document.getElementById('user_realtor');
        var details_div1 = document.getElementById('realtor_attr');
        checkbox1.onchange = function() {
            if(this.checked) {
                details_div1.style['display'] = 'block';
            } else {
                details_div1.style['display'] = 'none';
            }
        };

        var checkbox2 = document.getElementById('user_hunter');
        var details_div2 = document.getElementById('hunter_attr');
        checkbox2.onchange = function() {
            if(this.checked) {
                details_div2.style['display'] = 'block';
            } else {
                details_div2.style['display'] = 'none';
            }
        };
    </script>