<h1>Confirm</h1>

<%= form_with(model: @interest, local: true) do |form| %>
  <% if @interest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@interest.errors.count, "error") %> prohibited this form from being saved:</h2>

      <ul>
        <% @interest.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style="display: none;">
    <%= form.hidden_field :house_id, :value => @houseinterest%>
  </div>
  <div class="field" style="display: none;">
    <%= form.hidden_field :user_id, :value => current_user.id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<%#= link_to 'View my own interest list', interests_path(@current_user) %>


